/* CSS style
 * Written by GameJockey
 */

body {
    background-color: #101010;
    /*font-family: Georgia, serif;
    font-size: 1.5em;*/
    max-width: 800px;
    margin: auto;
    padding: 0 1em 0 1em;
}
p,h1,h2,h3,h4,h5,li {color:#b38d67;}


/*
h1 { font-size: 3em;}
h2 { font-size: 2.6em;}
h3 { font-size: 2.2em;}
h4 { font-size: 1.8em;}
h5 { font-size: 1.4em;}*/

h1, h2,h3,h4,h5,h6 {
    font-weight: 900;
}
body p {
    text-indent: 2.5em;
    line-height: 1.4em;
    font-size: 1.3em;
    margin-top: 0.4em;
    hyphens: auto;
    font-family: Georgia,serif;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}
blockquote p {
    font-family: monospace;
    font-size: 1.25em;
    text-indent: 0;
    line-height: 1em;
    
}
header p {
    text-indent: 0px !important;
}
@media screen and (max-width: 500px) {
    p {
        text-indent: 1.7em !important;
        font-size: 1.2em !important;
    }
}
hr {
    border: 1px solid #555;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    
}
#title {
    font-size: 1.3em;
    font-weight: 900;
    color: #468f9f;
}

