/* CSS style for my field reports website
 * Hand-designed by GameJockey
 * Mail: gamejockey at sigaint dot org
 */

/*******************************************************************************
 *** Fonts *********************************************************************
 ******************************************************************************/
@font-face {
	font-family: "Charis SIL";
}



/*******************************************************************************
 *** Global ********************************************************************
 ******************************************************************************/
body {
    background-color: #F4ECE3; /* main bg color */
    max-width: 800px;
    margin: -2em auto 0 auto;
    padding: 0 1em 0 1em;
    color: #333; /* main font color */
}

h1 { font-size: 3em; text-align: center;}
h2 { font-size: 2.6em;}
h3 { font-size: 2.2em;}
h4 { font-size: 1.8em;}
h5 { font-size: 1.4em;}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, "Charis SIL", serif;
    font-weight: 900;
    /*font-variant-caps: small-caps;*/
    
}

hr {
    border: 1px solid #999;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
    
}
a { color: #964949; }



/*******************************************************************************
 *** Main content **************************************************************
 ******************************************************************************/
#maincontent p, #maincontent li, #maincontent a {
    text-indent: 50px;
    line-height: 30px;
    font-size: 21px;
    margin-top: -13px;
    hyphens: auto;
    font-family: "Charis SIL", Georgia,serif;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}
#maincontent ul {
	list-style:none;
	margin-top: -10px;
	margin-bottom: 25px;
}
#maincontent li { margin-top: 0; }
#maincontent li:before {
    content:"\25CF";
    padding-right: 30px;
    margin-left: -40px;
}
#maincontent code { font-size: 18px; }


/*******************************************************************************
 *** Misc specifics ************************************************************
 ******************************************************************************/
#title {
    font-size: 4em;
    font-weight: 900;
    color: #964949;
    padding-bottom: 0.2em;
    border-bottom: 2px dotted #999;
}
#titlelink { text-decoration: none; }

#header {
	
}

.puajournal_entry {
    font-family: monospace;
    font-size: 18px;
    text-indent: 0;
    line-height: 1em;
    
}

.footnotes {}

#footer {
	color: #999;
	font-size: 14px !important;
	text-align: center;
	margin-bottom: 20px;
}
#footerhr { margin-bottom: 15px; }



/*******************************************************************************
 *** Media queries *************************************************************
 ******************************************************************************/
@media screen and (max-width: 500px) {
    p {
        text-indent: 1.7em !important;
        font-size: 1.2em !important;
    }
}

